.footer {
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 24px;
}

.copyright {
  width: 194px;
  height: 16px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
}
