.header__logo {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 34px;
}

.header__logo header__logo_image {
  width: 254.8373565673828px;
  height: 68.94309997558594px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .logo__image {
    width: 254px;
    height: 66px;
  }

  .header {
    width: 768px;
  }
}

@media screen and (max-width: 544px) {
  .logo__image {
    width: 188px;
    height: 52px;
  }

  .header {
    width: 320px;
  }
}
