.intro {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 984px;
}

.intro__content {
  max-width: 830px;
}

.intro__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  width: 830px;
  top: 1269px;
  left: 148px;
}

.intro__quote {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  width: 738px;

  top: 1482.91px;
  left: 148px;
}

.intro__author {
  width: 732px;
  top: 1628.56px;
  left: 148px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
}

.intro__text {
  width: 722px;
  top: 1694.46px;
  left: 148px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 768px;
  }

  .intro__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 45px;
    line-height: 49px;
  }

  .intro__quote {
    width: 720px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }

  .intro__author {
    width: 720px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }

  .intro__text {
    width: 720px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    max-width: 320px;
  }

  .intro__content {
    max-width: 288px;
  }

  .intro__title {
    width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  .intro__quote {
    width: 288px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
  }

  .intro__author {
    width: 288px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }

  .intro__text {
    width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
}
